tezos_k8s_images:
  snapshotEngine: tezos-k8s-snapshot-engine:dev

# the tezos version used to run `tezos-node snapshot import/export`
images:
  octez: tezos/tezos:v12-release

# snapshotEngine containers interact with the kubernetes control
# plane to create volume snapshots. This requires a special IAM role
# so k8s can create the snapshots and volumes in the cloud.
# Specify this role below.
iam_role_arn: ""
service_account: snapshot-engine-sa

# snapshotEngine chart does not run tezos nodes.
# It searches for separately defined tezos nodes and targets them
# by taking CSI volumeSnapshots of their volume, then restoring them
# into new pvcs and running jobs against them.
# Note that these tezos nodes should be in the same namespace.
# snapshotEngine expects one archive node and one rolling node in order
# to generate all artifacts.
# Below, specify what volumes the snapshot engine should look for, in
# the following format:
# nodes:
#   <NODE_CLASS>:
#     history_mode: <HISTORY_MODE>
#     target_volume: <TARGET_VOLUME>
# where:
# NODE_CLASS is the node class as defined in tezos-k8s "tezos" chart.
# HISTORY_MODE is archive or rolling
# TARGET_VOLUME is the name of the pod's volume containing tezos data dir.
#
# The default configuration below will be looking for tezos nodes defined in the 
# tezos chart with class names `snapshot-archive-node` and `snapshot-rolling-node`. 
# If you'd like to name them differently, make sure to match the names in both the 
# tezos chart and here in the snapshot engine chart. 
# Also, the tezos-k8s chart names the node data volume 'var-volume' by default.
nodes:
  snapshot-archive-node:
    history_mode: archive
    target_volume: var-volume
  snapshot-rolling-node:
    history_mode: rolling
    target_volume: var-volume

# snapshotEngine generates static webpages to accompany the generated
# artifacts. They are rendered by jekyll.
# Below specify the URL for the source markdown file template to render for
# every individual artifact.
# It will be rendered based on metadata generated by the snapshot engine.
# See an example at:
#   https://github.com/oxheadalpha/xtz-shots-website/blob/master/snapshot.md
chainWebsiteMarkdown: ""
