
img.faucet {
    max-width:80%;
}

button:disabled {
    cursor: not-allowed;
}

.hero {
    background: #eee;
    padding: 20px;
    border-radius: 10px;
    margin-top: 1em;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}


.g-recaptcha div {
    margin: 0 auto;
}

.key-btn {
    margin: 0 auto;
    width: 304px;
    display: block;
}

.text-center {
    text-align: center;
}

.key-textarea {
    width: 100%;
    background-color: white;
    height: 410px;
}
