# Is the values file an invitation for a private chain
is_invitation: false

# Should the rpc-auth service be spun up
rpc_auth: false

# A chain using Zerotier would be a private chain
# zerotier_config:
#   zerotier_network: YOUR_NETWORK_ID_HERE
#   zerotier_token: YOUR_ZEROTIER_TOKEN_HERE

# Images not part of the tezos-k8s repo go here
images:
  tezos: tezos/tezos:v8-release
# Images that are part of the tezos-k8s repo go here with 'dev' tag
tezos_k8s_images:
  baker_endorser: tezos-k8s-baker-endorser:dev
  chain_initiator: tezos-k8s-chain-initiator:dev
  config_generator: tezos-k8s-config-generator:dev
  snapshot_downloader: tezos-k8s-snapshot-downloader:dev
  wait_for_bootstrap: tezos-k8s-wait-for-bootstrap:dev
  zerotier: tezos-k8s-zerotier:dev

# Properties that are templated in Helm template files
baker_statefulset: # charts/tezos/templates/baker.yaml
  name: tezos-baking-node
  node_type: baking
  storage_size: 15Gi
regular_node_statefulset: # charts/tezos/templates/node.yaml
  name: tezos-node
  node_type: regular
  storage_size: 15Gi
nomadic_indexer_statefulset:
  name: nomadic-indexer
bcd_indexer_statefulset:
  name: bcd-indexer

# For non-public chains the defualt mutez given to an account if the
# account is not explicitly set below.
bootstrap_mutez: "4000000000000"

# # ACCOUNTS
#
# When running bakers for a public net, you must provide your own secret keys.
# For non public networks you can change this setting to true, and deterministic
# keys will be generated for your nodes automatically. If a genesis block hash
# is not provided, that will also be generated. This is helpful for spinning up
# local testnets.
should_generate_unsafe_deterministic_data: false
#
# - Public chains: Accounts do not get `is_bootstrap_baker_account` and
# `bootstrap_balance` fields.
# - Non-public chains: If you don't specify accounts needed by nodes, they can
#   be created deterministically via the above setting. If specifying, accounts
#   can be given a bootstrap balance and can also be configured to be bootstrap
#   baker accounts. Accounts with balances set to "0" will be imported by the
#   node but they will not be bootstrap accounts. If you don't set a bootstrap
#   balance, it will default to the `bootstrap_mutez` field above.
#
accounts: {}
#   tqtezos_baker_0:
#     key: edsk...
#     type: secret
#     is_bootstrap_baker_account: true
#     bootstrap_balance: "50000000000000"

#   tqtezos_regular_account_0:
#     key: edpk...
#     type: public
#     is_bootstrap_baker_account: false
#     bootstrap_balance: "4000000000000"

# # NODES
# Names of nodes should be consistent with their statefulset names but with
# an added suffix being the index of the node.
# Example: `baker_statefulset.name: tezos-baking-node` -> `nodes.baking.tezos-baking-node-0`
# These names with suffix are the
# `metadata.name` of the downward k8s API. They should be kebab case.
# https://kubernetes.io/docs/tasks/inject-data-application/downward-api-volume-expose-pod-information/
#
# Params for for non-public chains:
# - `bake_using_account`: The name of the account that should be used for baking.
# - `is_bootstrap_node`: Is this node a bootstrap peer.
#
# The `config` property should mimic the structure of a node's config.json.
# Run `tezos-node config --help` for more info.
nodes:
  baking: {}
    # tezos-baking-node-0:
      # bake_using_account: tqtezos_baker_0
      # is_bootstrap_node: true
      # config:
      #   shell:
      #     history_mode: rolling

    # Non-public chains: An account with deterministic keys will
    # automatically be created for this baker, as no account named
    # tqtezos_baker_1 is specified in accounts.
    #
    # Public chain: This baker will fail to boot as it doesn't have a secret key.
    #
    # tezos-baking-node-1:
    #   bake_using_account: tqtezos_baker_1
    #   is_bootstrap_node: true
    #   config:
    #     shell:
    #       history_mode: full

  # Non-baking nodes
  regular:
    tezos-node-0:
      config:
        shell:
          history_mode: rolling

# Where full and rolling history mode nodes will get their snapshots from
full_snapshot_url: https://mainnet.xtz-shots.io/full
rolling_snapshot_url: https://mainnet.xtz-shots.io/rolling

# List of peers for nodes to connect to. Gets set under config.json `p2p` field
bootstrap_peers: []

# Identity generation difficulty.
expected_proof_of_work: 26

# Create a custom network using a config structure that is similar to a node's
# config.json.
# Run `tezos-node config --help` for more info.
#
# node_config_network:
#   chain_name: YOUR_CHAIN_NAME_HERE
#   genesis:
#     timestamp: "2021-03-04T20:00:00Z"
#     block: YOUR_GENESIS_BLOCK_HASH_HERE
#     protocol: PtYuensgYBb3G3x1hLLbCmcav8ue8Kyd2khADcL5LsT5R1hcXex
#   # The name of the account who's public key will be set downstream in
#   # config.json at `network.genesis_parameters.values.genesis_pubkey`.
#   activation_account_name: tqtezos_baker_0
#
# For joining a public network. The network must be recognized by the
# tezos/tezos:v8-release docker image.
node_config_network:
  chain_name: mainnet

protocol:
  # Set the protocol binary. The protocol must be recognized by the
  # tezos/tezos:v8-release docker image.
  command: 008-PtEdo2Zk

# # Activate a new chain from genesis. Note, this is only for when your chain does
# # not exist yet. For subsequent deploys, remove this.
#
# activation:
#   protocol_hash: PtEdo2ZkT9oKpimTah6x2embF25oss54njMuPzkJTEi5RqfdZFA
#   # Should the commitments data in
#   # tezos-k8s/config-generator/commitment-params.json be part of parameters.json.
#   should_include_commitments: false
#   # parameters.json
#   protocol_parameters:
#     preserved_cycles: 2
#     blocks_per_cycle: 8
#     blocks_per_commitment: 4
#     blocks_per_roll_snapshot: 4
#     blocks_per_voting_period: 64
#     time_between_blocks: ["10", "20"]
#     endorsers_per_block: 32
#     hard_gas_limit_per_operation: "800000"
#     hard_gas_limit_per_block: "8000000"
#     proof_of_work_threshold: "-1"
#     tokens_per_roll: "8000000000"
#     michelson_maximum_type_size: 1000
#     seed_nonce_revelation_tip: "125000"
#     origination_size: 257
#     block_security_deposit: "512000000"
#     endorsement_security_deposit: "64000000"
#     endorsement_reward: ["2000000"]
#     cost_per_byte: "1000"
#     hard_storage_limit_per_operation: "60000"
#     test_chain_duration: "1966080"
#     quorum_min: 2000
#     quorum_max: 7000
#     min_proposal_quorum: 500
#     initial_endorsers: 1
#     delay_per_missing_endorsement: "1"
#     baking_reward_per_endorsement: ["200000"]
#

# Deploy an indexer with the chain. An indexer puts the chain
# contents in a database for efficient indexing. Most dapps need it.
# Supports two types of indexers:
# * "nomadic": Tezos nomadic indexer: https://gitlab.com/nomadic-labs/tezos-indexer
# * "bcd": Better Call Dev indexer: https://better-call.dev/
#index:
#  indexer: nomadic
#  target: tezos-baking-node-0.tezos-baking-node
