chain_name: YOUR_CHAIN_NAME_HERE
is_invitation: false
rpc_auth: false
chain_type: isolated
zerotier_config:
  zerotier_network: YOUR_NETWORK_ID_HERE
  zerotier_token: YOUR_ZEROTIER_TOKEN_HERE

# Images not part of the tezos-k8s repo go here
images:
  tezos: tezos/tezos:v8-release
# Images that are part of the tezos-k8s repo go here
tezos_k8s_images:
  baker_endorser: tezos-k8s-baker-endorser:dev
  chain_initiator: tezos-k8s-chain-initiator:dev
  config_generator: tezos-k8s-config-generator:dev
  wait_for_bootstrap: tezos-k8s-wait-for-bootstrap:dev
  zerotier: tezos-k8s-zerotier:dev
  snapshot_downloader: tezos-k8s-snapshot-downloader:dev

snapshot_url: https://mainnet.xtz-shots.io/rolling
protocol:
  bootstrap_mutez: "4000000000000"
  hash: PtEdo2ZkT9oKpimTah6x2embF25oss54njMuPzkJTEi5RqfdZFA
  command: 008-PtEdo2Zk
genesis:
  block: "YOUR_GENESIS_CHAIN_ID_HERE"
  timestamp: "2021-02-12T17:02:24.061398+00:00"
bootstrap_peers: []
# TODO
# archive nodes, node with open rpc
# take into account fundraisers accounts that people need to activate

baker_statefulset:
  name: tezos-baking-node
regular_node_statefulset:
  name: tezos-node
indexer_statefulset:
  name: tezos-indexer

# Names should be consistent with the above statefulset names with suffix being
# index of node.
nodes:
  baking:
    - name: tezos-baking-node-0
  regular:
    - name: tezos-node-0

accounts:
  - name: baker0

protocol_parameters:
  preserved_cycles: 2
  blocks_per_cycle: 8
  blocks_per_commitment: 4
  blocks_per_roll_snapshot: 4
  blocks_per_voting_period: 64
  time_between_blocks: ["10", "20"]
  endorsers_per_block: 32
  hard_gas_limit_per_operation: "800000"
  hard_gas_limit_per_block: "8000000"
  proof_of_work_threshold: "-1"
  tokens_per_roll: "8000000000"
  michelson_maximum_type_size: 1000
  seed_nonce_revelation_tip: "125000"
  origination_size: 257
  block_security_deposit: "512000000"
  endorsement_security_deposit: "64000000"
  endorsement_reward: ["2000000"]
  cost_per_byte: "1000"
  hard_storage_limit_per_operation: "60000"
  test_chain_duration: "1966080"
  quorum_min: 2000
  quorum_max: 7000
  min_proposal_quorum: 500
  initial_endorsers: 1
  delay_per_missing_endorsement: "1"
  baking_reward_per_endorsement: ["200000"]
