extend layout

block form
  script function copy() { $("#faucet").select(); document.execCommand("copy"); }
  textarea.key-textarea(id="faucet", readonly, name="faucet", cols="30", rows="10")=`${key}`
  a.smooth.btn.key-btn.text-center(onclick='copy()') Copy
  br
  a.smooth.btn.key-btn.text-center(id="download") Download
  script.
    var filename="#{keyFilename}"
    $('#download').click(function() {
        contentType =  'data:application/json,';
        uriContent = contentType + encodeURIComponent($('#faucet').val());
        this.setAttribute('href', uriContent);
        this.setAttribute('download', `${filename}`);
    })