doctype
html
  head
    meta(name="viewport",content="width=device-width, initial-scale=1")
    title #{title} - Tezos Faucet
    link(rel='stylesheet', href='https://mincss.com/entireframework.min.css')
    link(rel='stylesheet', href='css/style.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
  body
    .container
      .hero
        h1 Welcome to the Tezos Faucet
        h2 please drink responsibly
        .c12.text-center
          .captcha.center
            block form
    .row
      .c12
        img.faucet(src='img/faucet.png',align='right',max-width:'100%')
