{{- if and (not .Values.is_invitation) (not (eq .Values.chain_type "public")) }}
apiVersion: batch/v1
kind: Job
metadata:
  name: activate-job
  namespace: {{ .Release.Namespace }}
spec:
  template:
    metadata:
      name: activate-job
    spec:
      containers:
        - command:
            - sh
            - "-c"
            - "echo \"private chain activated\""
          image: busybox
          name: job-done
          imagePullPolicy: IfNotPresent
      initContainers:
        - image: {{ .Values.tezos_k8s_images.config_generator }}
          imagePullPolicy: IfNotPresent
          name: config-generator
          args:
            - "--generate-parameters-json"
          envFrom:
            - secretRef:
                name: tezos-secret
            - configMapRef:
                name: tezos-config
          env:
            - name: MY_POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
          volumeMounts:
            - mountPath: /etc/tezos
              name: config-volume
            - mountPath: /var/tezos
              name: var-volume
        - image: "{{ .Values.tezos_k8s_images.chain_initiator }}"
          imagePullPolicy: IfNotPresent
          name: chain-initiator
          volumeMounts:
            - mountPath: /etc/tezos
              name: config-volume
            - mountPath: /var/tezos
              name: var-volume
          envFrom:
            - configMapRef:
                name: tezos-config
      restartPolicy: Never
      volumes:
        - emptyDir: {}
          name: config-volume
        - emptyDir: {}
          name: var-volume
{{ end }}
---
{{- if not .Values.is_invitation }}
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ .Values.baker_statefulset.name }}
  namespace: {{ .Release.Namespace }}
spec:
  podManagementPolicy: Parallel
  replicas: {{ .Values.nodes.baking | len }}
  serviceName: {{ .Values.baker_statefulset.name }}
  selector:
    matchLabels:
      app: {{ .Values.baker_statefulset.name }}
  template:
    metadata:
      labels:
        app: {{ .Values.baker_statefulset.name }}
        appType: tezos
    spec:
      containers:
        - args:
            - run
            - "--bootstrap-threshold"
            - '0'
            - "--config-file"
            - /etc/tezos/config.json
          command:
            - /usr/local/bin/tezos-node
          image: "{{ .Values.images.tezos }}"
          imagePullPolicy: IfNotPresent
          name: tezos-node
          ports:
            - containerPort: 8732
              name: tezos-rpc
            - containerPort: 9732
              name: tezos-net
          volumeMounts:
            - mountPath: /etc/tezos
              name: config-volume
            - mountPath: /var/tezos
              name: var-volume
        - image: "{{ .Values.tezos_k8s_images.baker_endorser }}"
          imagePullPolicy: IfNotPresent
          name: baker
          volumeMounts:
            - mountPath: /var/tezos
              name: var-volume
          envFrom:
            - configMapRef:
                name: tezos-config
            - secretRef:
                name: tezos-secret
          env:
          - name: MY_POD_NAME
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
          - name: MY_NODE_TYPE
            value: {{ .Values.baker_statefulset.node_type }}
          - name: DAEMON
            value: baker
        - image: "{{ .Values.tezos_k8s_images.baker_endorser }}"
          imagePullPolicy: IfNotPresent
          name: endorser
          volumeMounts:
            - mountPath: /var/tezos
              name: var-volume
          envFrom:
            - configMapRef:
                name: tezos-config
            - secretRef:
                name: tezos-secret
          env:
          - name: MY_POD_NAME
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
          - name: MY_NODE_TYPE
            value: {{ .Values.baker_statefulset.node_type }}
          - name: DAEMON
            value: endorser
{{- if eq .Values.chain_type "private" }}
        - args:
            - "-c"
            - "echo 'starting zerotier' && zerotier-one /var/tezos/zerotier"
          command:
            - sh
          image: "{{ .Values.tezos_k8s_images.zerotier }}"
          imagePullPolicy: IfNotPresent
          name: zerotier
          securityContext:
            capabilities:
              add:
                - NET_ADMIN
                - NET_RAW
                - SYS_ADMIN
            privileged: true
          volumeMounts:
            - mountPath: /var/tezos
              name: var-volume
{{- end }}
      initContainers:
{{- if and (not .Values.is_invitation) (not (eq .Values.chain_type "public")) }}
        - image: {{ .Values.tezos_k8s_images.wait_for_bootstrap }}
          imagePullPolicy: IfNotPresent
          name: wait-for-bootstrap
          volumeMounts:
            - mountPath: /var/tezos
              name: var-volume
{{- end }}
{{- if eq .Values.chain_type "private" }}
        - envFrom:
            - configMapRef:
                name: zerotier-config
          image: "{{ .Values.tezos_k8s_images.zerotier }}"
          imagePullPolicy: IfNotPresent
          name: get-zerotier-ip
          securityContext:
            capabilities:
              add:
                - NET_ADMIN
                - NET_RAW
                - SYS_ADMIN
            privileged: true
          volumeMounts:
            - mountPath: /var/tezos
              name: var-volume
            - mountPath: /dev/net/tun
              name: dev-net-tun
          env:
          - name: MY_POD_NAME
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
          - name: MY_NODE_TYPE
            value: {{ .Values.baker_statefulset.node_type }}
{{- end }}
        - image: {{ .Values.tezos_k8s_images.config_generator }}
          imagePullPolicy: IfNotPresent
          name: config-generator
          args:
            - "--generate-config-json"
          envFrom:
            - secretRef:
                name: tezos-secret
            - configMapRef:
                name: tezos-config
          env:
            - name: MY_POD_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.podIP
            - name: MY_POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: MY_NODE_TYPE
              value: {{ .Values.baker_statefulset.node_type }}
          volumeMounts:
            - mountPath: /etc/tezos
              name: config-volume
            - mountPath: /var/tezos
              name: var-volume
{{- if eq .Values.chain_type "public" }}
        - image: "{{ .Values.tezos_k8s_images.snapshot_downloader }}"
          imagePullPolicy: IfNotPresent
          name: snapshot-downloader
          volumeMounts:
            - mountPath: /var/tezos
              name: var-volume
            - mountPath: /etc/tezos
              name: config-volume
          envFrom:
            - configMapRef:
                name: tezos-config
          env:
            - name: MY_POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: MY_NODE_TYPE
              value: {{ .Values.baker_statefulset.node_type }}
{{- end }}
      securityContext:
        fsGroup: 100
      volumes:
        - hostPath:
            path: /dev/net/tun
          name: dev-net-tun
        - emptyDir: {}
          name: config-volume
  volumeClaimTemplates:
    - metadata:
        name: var-volume
        namespace: {{ .Release.Namespace }}
      spec:
        accessModes:
          - ReadWriteOnce
        resources:
          requests:
            storage: "15Gi"
{{- end }}
