{{- if not .Values.is_invitation }}
apiVersion: batch/v1
kind: Job
metadata:
  name: activate-job
  namespace: {{ .Release.Namespace }}
spec:
  template:
    metadata:
      name: activate-job
    spec:
      containers:
        - command:
            - sh
            - "-c"
            - "echo \"private chain activated\""
          image: busybox
          name: job-done
          imagePullPolicy: IfNotPresent
      initContainers:
        - image: {{ .Values.tezos_k8s_images.key_importer }}
          name: key-importer
          imagePullPolicy: IfNotPresent
          envFrom:
            - secretRef:
                name: tezos-secret
            - configMapRef:
                name: tezos-config
          volumeMounts:
            - mountPath: /var/tezos
              name: var-volume
        - image: {{ .Values.tezos_k8s_images.config_generator }}
          imagePullPolicy: IfNotPresent
          name: config-generator
          args:
            - "--generate-parameters-json"
          envFrom:
            - configMapRef:
                name: tezos-config
          volumeMounts:
            - mountPath: /etc/tezos
              name: config-volume
            - mountPath: /var/tezos
              name: var-volume
        - image: "{{ .Values.tezos_k8s_images.chain_initiator }}"
          imagePullPolicy: IfNotPresent
          name: chain-initiator
          volumeMounts:
            - mountPath: /etc/tezos
              name: config-volume
            - mountPath: /var/tezos
              name: var-volume
          envFrom:
            - configMapRef:
                name: tezos-config
      restartPolicy: Never
      volumes:
        - emptyDir: {}
          name: config-volume
        - emptyDir: {}
          name: var-volume
{{ end }}
---
{{- if not .Values.is_invitation }}
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: tezos-baking-node
  namespace: {{ .Release.Namespace }}
spec:
  podManagementPolicy: Parallel
  replicas: {{ .Values.nodes.baking | len }}
  serviceName: tezos-baking-node
  selector:
    matchLabels:
      app: tezos-baking-node
  template:
    metadata:
      labels:
        app: tezos-baking-node
        appType: tezos
    spec:
      containers:
        - args:
            - run
            - "--bootstrap-threshold"
            - '0'
            - "--config-file"
            - /etc/tezos/config.json
          command:
            - /usr/local/bin/tezos-node
          image: "{{ .Values.images.tezos }}"
          imagePullPolicy: IfNotPresent
          name: tezos-node
          ports:
            - containerPort: 8732
              name: tezos-rpc
            - containerPort: 9732
              name: tezos-net
          readinessProbe:
            exec:
              command:
                - nc
                - "-z"
                - '127.0.0.1'
                - '8732'
            initialDelaySeconds: 2
            periodSeconds: 2
            timeoutSeconds: 1
          volumeMounts:
            - mountPath: /etc/tezos
              name: config-volume
            - mountPath: /var/tezos
              name: var-volume
        - image: "{{ .Values.tezos_k8s_images.baker }}"
          imagePullPolicy: IfNotPresent
          name: baker
          volumeMounts:
            - mountPath: /var/tezos
              name: var-volume
          envFrom:
            - configMapRef:
                name: tezos-config
            - secretRef:
                name: tezos-secret
          env:
          - name: POD_NAME
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
{{- if .Values.zerotier_in_use }}
        - args:
            - "-c"
            - "echo 'starting zerotier' && zerotier-one /var/tezos/zerotier"
          command:
            - sh
          image: "{{ .Values.tezos_k8s_images.zerotier }}"
          imagePullPolicy: IfNotPresent
          name: zerotier
          securityContext:
            capabilities:
              add:
                - NET_ADMIN
                - NET_RAW
                - SYS_ADMIN
            privileged: true
          volumeMounts:
            - mountPath: /var/tezos
              name: var-volume
{{- end }}
      initContainers:
{{- if .Values.zerotier_in_use }}
        - envFrom:
            - configMapRef:
                name: zerotier-config
          image: "{{ .Values.tezos_k8s_images.zerotier }}"
          imagePullPolicy: IfNotPresent
          name: get-zerotier-ip
          securityContext:
            capabilities:
              add:
                - NET_ADMIN
                - NET_RAW
                - SYS_ADMIN
            privileged: true
          volumeMounts:
            - mountPath: /var/tezos
              name: var-volume
            - mountPath: /dev/net/tun
              name: dev-net-tun
          env:
          - name: POD_NAME
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
{{- end }}
        - image: {{ .Values.tezos_k8s_images.key_importer }}
          name: key-importer
          imagePullPolicy: IfNotPresent
          envFrom:
            - secretRef:
                name: tezos-secret
            - configMapRef:
                name: tezos-config
          volumeMounts:
            - mountPath: /var/tezos
              name: var-volume
        - image: {{ .Values.tezos_k8s_images.config_generator }}
          imagePullPolicy: IfNotPresent
          name: config-generator
          args:
            - "--generate-config-json"
            - "--generate-parameters-json"
          envFrom:
            - configMapRef:
                name: tezos-config
          env:
            - name: MY_POD_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.podIP
          volumeMounts:
            - mountPath: /etc/tezos
              name: config-volume
            - mountPath: /var/tezos
              name: var-volume
        - args:
            - "-c"
            - "[ -f /var/tezos/node/identity.json ] || (mkdir -p /var/tezos/node && /usr/local/bin/tezos-node identity generate 0 --data-dir /var/tezos/node --config-file /etc/tezos/config.json)"
          command:
            - /bin/sh
          image: {{ .Values.images.tezos | quote }}
          name: identity-job
          imagePullPolicy: IfNotPresent
          volumeMounts:
            - mountPath: /etc/tezos
              name: config-volume
            - mountPath: /var/tezos
              name: var-volume
        - image: {{ .Values.tezos_k8s_images.wait_for_bootstrap }}
          imagePullPolicy: IfNotPresent
          name: wait-for-bootstrap
          volumeMounts:
            - mountPath: /var/tezos
              name: var-volume
      securityContext:
        fsGroup: 100
      volumes:
        - hostPath:
            path: /dev/net/tun
          name: dev-net-tun
        - emptyDir: {}
          name: config-volume
  volumeClaimTemplates:
    - metadata:
        name: var-volume
        namespace: {{ .Release.Namespace }}
      spec:
        accessModes:
          - ReadWriteOnce
        resources:
          requests:
            storage: "15Gi"
{{- end }}
