{{- $indexerConfig := .Values.bcdIndexer | default dict }}
{{- if (include "tezos.shouldDeployBcdIndexer" $indexerConfig) }}

apiVersion: v1
kind: Service
metadata:
  name: bcd
  namespace: {{ .Release.Namespace }}
spec:
  ports:
    - port: 14000
      name: bcd
      targetPort: bcd
  {{- if $indexerConfig.gui.enabled }}
    - port: 8080
      name: gui
      targetPort: gui
  {{- end }}
  selector:
    app: {{ .Values.bcd_indexer_statefulset.name }}
  type: NodePort

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: bcd-env
  namespace: {{ .Release.Namespace }}
data:
  BCD_ENV: sandbox
  GIN_MODE: debug
  SANDBOX_NODE_URI: {{ $indexerConfig.rpcUrl }}

---
apiVersion: v1
kind: Secret
metadata:
  name: db-creds
  namespace: {{ .Release.Namespace }}
data:
  # `DB_HOSTNAME` is the env var looked up by the app
  DB_HOSTNAME: {{ b64enc ($indexerConfig.db.hostname | default "localhost") }}
  POSTGRES_USER: {{ b64enc $indexerConfig.db.user }}
  POSTGRES_PASSWORD: {{ b64enc $indexerConfig.db.password }}
  POSTGRES_DB: {{ b64enc $indexerConfig.db.name }}
{{- if not $indexerConfig.db.isExternal }}
  PGDATA: {{ b64enc "/var/lib/postgresql/data/pgdata" }}
{{- end }}

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: sandbox-config
  namespace: {{ .Release.Namespace }}
data:
  # Based on:
  # https://github.com/baking-bad/bcdhub/blob/fa7e36f6c890d543d72a3d494f7a2509cd41871a/configs/sandbox.yml
  sandbox.yml: |
    rpc:
      sandboxnet:
        uri: ${SANDBOX_NODE_URI}
        timeout: 10
        requests_per_second: 10
    storage:
      pg:
        host: ${DB_HOSTNAME:-db}
        port: 5432
        user: ${POSTGRES_USER}
        dbname: ${POSTGRES_DB:-bcd}
        password: ${POSTGRES_PASSWORD}
        sslmode: disable
      timeout: 10
    share_path: /etc/bcd
    base_url: http://localhost:8000
    api:
      project_name: api
      bind: ":14000"
      swagger_host: "localhost:8000"
      cors_enabled: true
      sentry_enabled: false
      seed_enabled: true
      page_size: ${PAGE_SIZE:-10}
      frontend:
        ga_enabled: false
        mempool_enabled: false
        sandbox_mode: true
        rpc:
          sandboxnet: {{ $indexerConfig.gui.rpcUrl | default "" }}
      networks:
        - sandboxnet
      connections:
        max: 20
        idle: 10
    indexer:
      project_name: indexer
      sentry_enabled: false
      networks:
        sandboxnet:
          receiver_threads: 5
      connections:
        max: 5
        idle: 5
    scripts:
      networks:
        - sandboxnet

---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ .Values.bcd_indexer_statefulset.name }}
  namespace: {{ .Release.Namespace }}
spec:
  podManagementPolicy: Parallel
  selector:
    matchLabels:
      app: {{ .Values.bcd_indexer_statefulset.name }}
  serviceName: ""
  template:
    metadata:
      labels:
        app: {{ .Values.bcd_indexer_statefulset.name }}
    {{- with $indexerConfig.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    spec:
    {{- with $indexerConfig.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      securityContext:
        {{- toYaml $indexerConfig.podSecurityContext | nindent 8 }}

    {{- with $indexerConfig.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with $indexerConfig.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with $indexerConfig.tolerations }}
      tolerations:
      {{- toYaml . | nindent 8 }}
  {{- end }}
      volumes:
        - name: sandbox-config
          configMap:
            name: sandbox-config
      containers:
        - image: {{ $indexerConfig.images.api }}
          name: api
          ports:
            - containerPort: 14000
              name: bcd
          envFrom:
            - configMapRef:
                name: bcd-env
            - secretRef:
                name: db-creds
          volumeMounts:
            - name: sandbox-config
              mountPath: /app/api/sandbox.yml
              subPath: sandbox.yml
        - image: {{ $indexerConfig.images.indexer }}
          name: indexer
          envFrom:
            - configMapRef:
                name: bcd-env
            - secretRef:
                name: db-creds
          volumeMounts:
            - name: sandbox-config
              mountPath: /app/indexer/sandbox.yml
              subPath: sandbox.yml
      {{- if $indexerConfig.gui.enabled }}
        {{- $_ := required "apiUrl is required for gui" $indexerConfig.apiUrl }}
        {{- $_ := required "gui.rpcUrl is required for gui" $indexerConfig.gui.rpcUrl }}
        - image: {{ $indexerConfig.images.gui }}
          name: gui
          ports:
            - containerPort: 80
              name: gui
          command: ["/bin/sh"]
          args:
            - -c
            - |
              set -ex

              api_url="{{ $indexerConfig.apiUrl }}/v1"

              for file in js/*; do
                echo $file
                sed -i -E \
                  "s~http://localhost:14000/v1~$api_url~g; s~process\.env.VUE_APP_API_URI~\"$api_url\"~g" \
                  "$file"
              done

              /docker-entrypoint.sh nginx -g "daemon off;"
      {{- end }}

{{- if not $indexerConfig.db.isExternal }}
        - image: {{ $indexerConfig.images.postgres }}
          name: db
          imagePullPolicy: IfNotPresent
          volumeMounts:
            - mountPath: /var/lib/postgresql/data
              name: indexer-db
          envFrom:
            - secretRef:
                name: db-creds
  volumeClaimTemplates:
    - metadata:
        name: indexer-db
      spec:
        accessModes:
          - ReadWriteOnce
        storageClassName: {{ $indexerConfig.storageClassName }}
        resources:
          requests:
            storage: {{ $indexerConfig.storage | default "300Gi" }}
{{- end }}

---
{{- if $indexerConfig.ingress.enabled }}
{{- $_ := required "apiUrl is required for ingress" $indexerConfig.apiUrl }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: bcd
  namespace: {{ .Release.Namespace }}
{{- with $indexerConfig.ingress.labels }}
  labels:
    {{- toYaml . | nindent 4 }}
{{- end }}
{{- with $indexerConfig.ingress.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
{{- end }}
spec:
  ingressClassName: {{ $indexerConfig.ingress.className }}
  {{- if $indexerConfig.ingress.tls }}
  tls:
    {{- range $indexerConfig.ingress.tls }}
    - hosts:
        {{- range .hosts }}
        - {{ . | quote }}
        {{- end }}
      secretName: {{ .secretName }}
    {{- end }}
  {{- end }}
  rules:
    - host: {{ regexReplaceAll "(https?://)" $indexerConfig.apiUrl "" }}
      http:
        paths:
          - pathType: {{ $indexerConfig.ingress.pathType }}
            path: /
            backend:
              service:
                name: bcd
                port:
                  number: 14000
  {{- if and $indexerConfig.gui.enabled $indexerConfig.ingress.guiHostname }}
    - host: {{ $indexerConfig.ingress.guiHostname }}
      http:
        paths:
          - pathType: {{ $indexerConfig.ingress.pathType }}
            path: /
            backend:
              service:
                name: bcd
                port:
                  number: 8080
    {{- end }}
{{- end }}

{{- end }}
