apiVersion: v1
data:
  CHAIN_PARAMS: |
    {
      "bootstrap_mutez": "{{ .Values.protocol.bootstrap_mutez }}",
      "bootstrap_peers": {{ toJson .Values.bootstrap_peers }},
      "nodes": {{ toJson .Values.nodes }},
      "chain_name": "{{ .Values.chain_name }}",
      "genesis_block": "{{ .Values.genesis.block }}",
      "activation_account": "{{ (index .Values.accounts 0).name }}",
      "timestamp": "{{ .Values.genesis.timestamp }}",
      "chain_type": "{{ .Values.chain_type }}",
      "network": "{{ .Values.network }}",
      "snapshot_url": "{{ .Values.snapshot_url }}",
      "proto_command": "{{ .Values.protocol.command }}",
      "protocol_hash": "{{ .Values.protocol.hash }}"
    }
  NODES: |
{{ .Values.nodes | toJson | indent 4}}
kind: ConfigMap
metadata:
  name: tezos-config
  namespace: {{ .Release.Namespace }}
---
apiVersion: v1
data:
  CHAIN_NAME: "{{ .Values.chain_name }}"
  NETWORK_ID: "{{ .Values.zerotier_config.zerotier_network }}"
  ZTAUTHTOKEN: "{{ .Values.zerotier_config.zerotier_token }}"
  NODES: |
{{ .Values.nodes | toJson | indent 4}}
kind: ConfigMap
metadata:
  name: zerotier-config
  namespace: {{ .Release.Namespace }}
---
apiVersion: v1
data:
  ACCOUNTS: |
{{ .Values.accounts | toJson | b64enc | indent 4 }}
kind: Secret
metadata:
  name: tezos-secret
  namespace: {{ .Release.Namespace }}
