apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ .Values.regular_node_statefulset.name }}
  namespace: {{ .Release.Namespace }}
spec:
  podManagementPolicy: Parallel
  replicas: {{ .Values.nodes.regular | len }}
  selector:
    matchLabels:
      app: {{ .Values.regular_node_statefulset.name }}
  serviceName: tezos-node
  template:
    metadata:
      labels:
        app: {{ .Values.regular_node_statefulset.name }}
        appType: tezos
    spec:
      containers:
        - args:
            - run
            - "--config-file"
            - /etc/tezos/config.json
          command:
            - /usr/local/bin/tezos-node
          image: {{ .Values.images.tezos | quote }}
          imagePullPolicy: IfNotPresent
          name: tezos-node
          ports:
            - containerPort: 8732
              name: tezos-rpc
            - containerPort: 9732
              name: tezos-p2p
          volumeMounts:
            - mountPath: /etc/tezos
              name: config-volume
            - mountPath: /var/tezos
              name: var-volume
{{- if eq .Values.chain_type "private" }}
        - args:
            - "-c"
            - "echo 'starting zerotier' && zerotier-one /var/tezos/zerotier"
            - "-P"
            - '8732'
            - "-d"
            - /var/tezos/client
            - run
            - baker
          command:
            - sh
          image: "{{ .Values.tezos_k8s_images.zerotier }}"
          imagePullPolicy: IfNotPresent
          name: zerotier
          securityContext:
            capabilities:
              add:
                - NET_ADMIN
                - NET_RAW
                - SYS_ADMIN
            privileged: true
          volumeMounts:
            - mountPath: /var/tezos
              name: var-volume
{{- end }}
      initContainers:
{{- if not .Values.is_invitation }}
        - image: {{ .Values.tezos_k8s_images.wait_for_bootstrap }}
          imagePullPolicy: IfNotPresent
          name: wait-for-bootstrap
          volumeMounts:
            - mountPath: /var/tezos
              name: var-volume
{{- end }}
{{- if eq .Values.chain_type "private" }}
        - envFrom:
            - configMapRef:
                name: zerotier-config
          image: "{{ .Values.tezos_k8s_images.zerotier }}"
          imagePullPolicy: IfNotPresent
          name: get-zerotier-ip
          securityContext:
            capabilities:
              add:
                - NET_ADMIN
                - NET_RAW
                - SYS_ADMIN
            privileged: true
          volumeMounts:
            - mountPath: /var/tezos
              name: var-volume
            - mountPath: /dev/net/tun
              name: dev-net-tun
          env:
          - name: MY_POD_NAME
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
          - name: MY_NODE_TYPE
            value: {{ .Values.regular_node_statefulset.node_type }}
{{- end }}
        - image: {{ .Values.tezos_k8s_images.config_generator }}
          imagePullPolicy: IfNotPresent
          name: config-generator
          args:
            - "--generate-config-json"
          envFrom:
            - secretRef:
                name: tezos-secret
            - configMapRef:
                name: tezos-config
          env:
            - name: MY_POD_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.podIP
            - name: MY_POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: MY_NODE_TYPE
              value: {{ .Values.regular_node_statefulset.node_type }}
          volumeMounts:
            - mountPath: /etc/tezos
              name: config-volume
            - mountPath: /var/tezos
              name: var-volume
{{- if eq .Values.chain_type "public" }}
        - image: "{{ .Values.tezos_k8s_images.snapshot_downloader }}"
          imagePullPolicy: IfNotPresent
          name: snapshot-downloader
          volumeMounts:
            - mountPath: /var/tezos
              name: var-volume
            - mountPath: /etc/tezos
              name: config-volume
          envFrom:
            - configMapRef:
                name: tezos-config
          env:
            - name: MY_POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: MY_NODE_TYPE
              value: {{ .Values.regular_node_statefulset.node_type }}
{{- end }}
      securityContext:
        fsGroup: 100
      volumes:
        - hostPath:
            path: /dev/net/tun
          name: dev-net-tun
        - emptyDir: {}
          name: config-volume
  volumeClaimTemplates:
    - metadata:
        name: var-volume
        namespace: {{ .Release.Namespace }}
      spec:
        accessModes:
          - ReadWriteOnce
        resources:
          requests:
            storage: "15Gi"
