{{- if (include "tezos.shouldDeployRegularNodeStatefulset" .) }}
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ .Values.regular_node_statefulset.name }}
  namespace: {{ .Release.Namespace }}
spec:
  podManagementPolicy: Parallel
{{- $regular_nodes := .Values.nodes.regular | default list }}
  replicas: {{ $regular_nodes | len }}
  selector:
    matchLabels:
      app: {{ .Values.regular_node_statefulset.name }}
  serviceName: {{ .Values.regular_node_statefulset.name }}
  template:
    metadata:
      labels:
        app: {{ .Values.regular_node_statefulset.name }}
        appType: tezos-node
    spec:
      containers:
{{- include "tezos.container.node"     . | indent 8 }}
{{- include "tezos.container.zerotier" . | indent 8 }}
      initContainers:
{{- include "tezos.init_container.wait_for_bootstrap"  . | indent 8 }}
{{- include "tezos.init_container.zerotier"            . | indent 8 }}
{{- include "tezos.init_container.config_generator"    . | indent 8 }}
{{- include "tezos.init_container.snapshot_downloader" . | indent 8 }}
      securityContext:
        fsGroup: 100
      volumes:
        - hostPath:
            path: /dev/net/tun
          name: dev-net-tun
        - emptyDir: {}
          name: config-volume
  volumeClaimTemplates:
    - metadata:
        name: var-volume
        namespace: {{ .Release.Namespace }}
      spec:
        accessModes:
          - ReadWriteOnce
        resources:
          requests:
            storage: {{ .Values.regular_node_statefulset.storage_size }}
{{- end }}
