base58==1.0.3
bson==0.5.10
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
click==7.1.2
fastecdsa==1.7.5
fire==0.3.1
Flask==1.1.2
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
loguru==0.5.3
MarkupSafe==1.1.1
mnemonic==0.19
netstruct==1.1.2
pendulum==2.1.2
ply==3.11
pyblake2==1.1.2
pycparser==2.20
pysodium==0.7.5
pytezos==2.5.11
python-dateutil==2.8.1
pytzdata==2020.1
PyYAML==5.3.1
redis==3.5.3
requests==2.24.0
secp256k1==0.13.2
simplejson==3.17.2
six==1.15.0
termcolor==1.1.0
tqdm==4.51.0
urllib3==1.25.11
uWSGI==2.0.19.1
Werkzeug==1.0.1
