tezos_k8s_images:
  faucet: tezos-k8s-faucet:dev
  utils: tezos-k8s-utils:dev
recaptcha_keys:
  siteKey: # fill in recaptcha site key
  secretKey: # fill in recaptcha secret key
number_of_accounts: 1000
seed: "a unique seed for deterministally generating accounts"
