# Faucet backend: https://github.com/oxheadalpha/tezos-faucet-backend
# Faucet frontend: https://github.com/oxheadalpha/tezos-faucet

images:
  tezosFaucet: ghcr.io/oxheadalpha/tezos-faucet:2.0.0
  tezosFaucetBackend: ghcr.io/oxheadalpha/tezos-faucet-backend:2.0.0

# Frontend app configuration. You can optionally deploy only the faucet backend.
enableUI: true
config:
  application:
    name: "Tezos Faucet"
    googleCaptchaSiteKey: "" # 6LefC8QmAAAAAIX...
    # Default value assumes faucet backend is available on localhost.
    backendUrl: http://localhost:3000
    githubRepo: https://github.com/oxheadalpha/tezos-faucet
  network:
    name: Custom
    # Default value assumes node RPC is available on localhost.
    rpcUrl: http://localhost:8732
    faucetAddress: "" # tz1PW...
    viewer: "" # https://network.tzstats.com

# Value the server sets for the "Access-Control-Allow-Origin" header for CORS.
authorizedHost: "*"
# RPC url for the faucet backend. Default value assumes tezos-k8s created an RPC
# service in the same namespace. If not set, defaults to `config.network.rpcUrl`.
backendRpcUrl: http://tezos-node-rpc:8732
# If the backend requires CAPTCHA tokens to be submitted.
enableCaptcha: true
# Faucet won't dispense to an address if its balance exceeds this.
maxBalance: 6000

# Configuration for the faucet profiles. To prevent spamming and abuse, each
# profile has specific parameters that control the distribution of Tez and the
# complexity and number of PoW challenges needed.
# - `profile`: The name of the profile.
# - `amount`: Amount of Tez to be distributed for this profile.
# - `challengesNeeded`: Number of challenges given when CAPTCHA isn't used.
# - `challengesNeededWithCaptcha`: Number of challenges given when CAPTCHA is used.
# - `difficulty`: Challenge difficulty level when CAPTCHA isn't used.
# - `difficultyWithCaptcha`: Challenge difficulty level when CAPTCHA is used.
profiles:
  user:
    amount: 1
    challengesNeeded: 5
    challengesNeededWithCaptcha: 4
    difficulty: 4
    difficultyWithCaptcha: 3
  baker:
    amount: 6000
    challengesNeeded: 6
    challengesNeededWithCaptcha: 5
    difficulty: 5
    difficultyWithCaptcha: 4

# Set to true to disable the requirement of solving PoW challenges.
disableChallenges: false

# Config for the Redis backend for the PoW challenges. Redis is not needed if
# challenges are disabled.
redis:
  url: "" # redis://redis-master.redis:6379
  password: ""

# Secrets
googleCaptchaSecretKey: "" # 6LefC8QmAAAAAPH...
faucetPrivateKey: "" # edsk3X...

ingress:
  enabled: false
  className: ""
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  host: "" # fill in the faucet hostname
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example-frontend.local

imagePullPolicy: IfNotPresent
imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

podSecurityContext:
  runAsNonRoot: true
  runAsUser: 1000
  runAsGroup: 1000
  fsGroup: 1000

securityContext:
  allowPrivilegeEscalation: false
  capabilities:
    drop:
      - ALL

serviceAccount:
  create: true
  annotations: {}
  name: tezos-faucet

nodeSelector: {}

tolerations: []

affinity: {}
